<% @comments.each do |comment| %>
  <p>
    <strong>Title:</strong> <%= comment.title %>, <strong>Content:</strong> <%= comment.content %>
  </p>
  <p>
    <strong>Written By:</strong> <%= comment.user.username %>
  </p>
  <hr>
<% end %>