<h1>Mediumish Home Page</h1>

<p id="notice"><%= notice %></p>

<hr>

<% @users.each do |user| %>
  <p><%= link_to user.username, profile_path(user) %> has <%= user.articles.count %> articles.</p>
  <hr>
<% end %>