/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
   font-family: 'Courier New', monospace;
   box-sizing: border-box;
   font-size: 16px;
}

html {
   width: 100%;
   height: 100%;
}

body {
   display: flex;
   flex-flow: column nowrap;
   justify-content: flex-start;
   align-items: center;
   width: 100%;
   height: 100%;
   padding: 0;
   margin: 0;
   background-color: #f2f2f2;
}

.notice {
   padding: 6px 10px;
   border-style: solid;
   border-width: 1px;
   border-color: green;
}

a, a:visited {
   display: flex;
   align-items: center;
   text-decoration: none;
   color: black;
   text-align:center;
}

a:hover {
   background-color: #404040;
   color: white
}

.header {
   display: flex;
   flex-flow: row nowrap;
   justify-content: flex-start;
   align-items: center;
   width: 100%;
   min-height: 80px;
   padding: 0;
   margin: 0;
   border-style: solid;
   border-width: 1px 0 2px 0;
   border-color: black;
}

.header .home-button {
   font-size: 40px;
   background-color: #404040;
   color: white;
   height: 100%;
   padding: 0 20px;
   border-style: solid;
   border-width: 0 1px 0 0;
   border-color: #404040;
}

.header .nav-buttons {
   display: flex;
   flex-flow: row nowrap;
   justify-content: flex-start;
   align-items: center;
   width: 100%;
   height: 100%;
}

.header .user {
   margin-left: auto;
   display: flex;
   flex-flow: row nowrap;
   justify-content: flex-start;
   align-items: center;
   height: 100%;
   white-space: nowrap
}

a.nav-button {
   height: 100%;
   padding: 0 20px;
   border-style: solid;
   border-width: 0 1px 0 0;
   border-color: #404040;
}

.header .user span  {
   margin: 0 10px;
}

